body {
  font-family: georgia, serif;
}

article {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.4;
}

.aside {
  color: gray;
  border-bottom: 1px solid silver;
  padding-bottom: 20px;
}

h3 {
  border-top: 1px solid silver;
  padding-top: 10px;
}
