<!DOCTYPE html>
<html>
<head>
  <title>Andy Rossmeissl</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/html5.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/andy.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/vanberg.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/calluna_sans.css" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <meta charset="utf-8">
</head>
<body>
  <header>&nbsp;</header>
  <article>
{{ content }}
  </article>
</body>
</html>
